:root {
  --max-width: 90%;
  --radius-full: 100%;
  --radius-sm: 10px;
  --radius-md: 20px;

  --primary-10: #2d9cdb;
  --secondary-10: #ffd700;

  --neutral-10: hsla(0, 0%, 100%, 1);
  --neutral-20: hsla(0, 0%, 95%, 1);
  --neutral-30: hsla(0, 0%, 85%, 1);
  --neutral-40: hsla(0, 0%, 50%, 1);
  --neutral-50: hsla(0, 0%, 30%, 1);

  --text-xxs: 10px;
  --text-xs: 12px;
  --text-sm: 16px;
  --text-md: 20px;
  --text-lg: 25px;
  --text-xl: 39px;
  --text-xxl: 48px;

  --font-bold: 700;
  --font-semibold: 600;
  --font-normal: 400;
  --font-thin: 300;

  --shadow-sm: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  --shadow-md: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);

  --shadow-sm-2: 0px 10px 15px -6px rgba(0, 0, 0, 0.1);
  --shadow-md-2: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

  --transition: 0.2s ease-in;

  --floating-top-home: 120px
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  transition: var(--transition);
}

body {
  color: var(--neutral-50);
}

a {
  color: inherit;
  text-decoration: none;
}
